@charset 'utf-8';

:root {
    --main-color: rgba(43, 174, 0, 0.749);
}

/* ------------------
共通css
--------------------- */

/* 候補カラー */
/* #7cae6cbf */

html {
    font-family: 'ヒラギノ丸ゴ ProN',
        'Hiragino Maru Gothic ProN',
        'ヒラギノ角ゴシック',
        'Hiragino Sans',
        'ＭＳ ゴシック',
        sans-serif;
}

body {
    background-color: #f8f8f8;
}

header {
    padding: 16px 8px;
    background-color: var(--main-color);
    text-align: center;
    color: #fff;
}

input {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    padding: 10px 16px;
    background-color: var(--main-color);
    border-radius: 16px;
    border: 1px solid var(--main-color);
    color: #fff;
    font-weight: bold;
}

.back-btn {
    display: inline-block;
    padding: 6px 10px;
    background-color: #fff;
    border-radius: 16px;
    color: #888;
    border: 1px solid #888;
    font-weight: bold;
}

/* --------------------------------------- */

.date-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}

.date-previous, .date-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    font-size: 28px;
    color: var(--main-color);
}

.date-content {
    margin: 0 20px;
    font-size: 24px;
    font-weight: bold;
    color: #555;
}


/* --------------------------------------- */

.swipe-wrapper {
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.swipe-list {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
    -ms-overflow-style: none;
    /*Firefoxへの対応*/
    scrollbar-width: none;
}

.swipe-list::-webkit-scrollbar {
    display: none;
}

.swipe-list li {
    width: calc(100% / 3.3);
    flex-shrink: 0;
    padding: 16px 8px;
    text-align: center;
    font-size: 20px;
}

.swipe-list li.active {
    border-bottom: 3px solid var(--main-color);
}

/* --------------------------------------- */

.amount-wrapper {
    padding: 18px 24px 0;
}

.amount-area {
    padding: 16px;
    background-color: #fff;
    border-radius: 16px;
}

.amount-area > p {
    color: #666;
}

.amount {
    font-size: 36px;
    text-align: right;
    margin-top: 8px;
    border-bottom: 1px solid #ddd;
    color: #555;
}

/* --------------------------------------- */

.list-wrapper {
    padding: 8px 24px 30px;
}

.list-header {
    margin: 16px 0;
    color: #666;
}

.list {
    background-color: #fff;
    border-radius: 16px;
}

.list-item {
    border-top: 1px solid #ddd;
}

.list-item.active {
    background-color: rgb(182 241 163 / 75%);
}

.list-item:first-child {
    border-top: none;
}

.list-date {
    padding: 12px 12px 0;
    color: #666;
    font-size: 14px;
}

.list-flex {
    position: relative;
    display: flex;
    padding: 8px 8px 8px 0;
}

/* .line {
    position: absolute;
    right: 5%;
    top: 50%;
    width: 78%;
    height: 2px;
    background-color: #ccc;
} */

.list-checkbox {
    width: 10%;
    padding: 12px;
}

/*リセット */
input[type="checkbox"] {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* チェックボックスデザイン */
input[type="checkbox"] {
    cursor: pointer;
    padding-left: 30px;
    /*label手前にチェックボックス用の余白を開ける*/
    vertical-align: middle;
    position: relative;
}

input[type="checkbox"]::before,
input[type="checkbox"]::after {
    content: "";
    display: block;
    position: absolute;
}

input[type="checkbox"]::before {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #666464;
    width: 24px;
    /*チェックボックスの横幅*/
    height: 24px;
    /*チェックボックスの縦幅*/
    transform: translateY(-50%);
    top: 50%;
    left: 5px;
}

input[type="checkbox"]::after {
    border-bottom: 3px solid var(--main-color);
    /*チェックの太さ*/
    border-left: 3px solid var(--main-color);
    /*チェックの太さ*/
    opacity: 0;
    /*チェック前は非表示*/
    height: 6px;
    /*チェックの高さ*/
    width: 11px;
    /*チェックの横幅*/
    transform: rotate(-45deg);
    /* top: -7px; */
    /*チェック時の位置調整*/
    left: 10px;
    /*チェック時の位置調整*/
}

input[type="checkbox"]:checked::after {
    opacity: 1;
    /*チェック後表示*/
}

.list-content {
    display: flex;
    align-items: center;
    width: 90%;
}

.list-text {
    width: 60%;
}

.list-money {
    width: 40%;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    color: #555;
}

/* .list-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

.list-money {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    font-size: 28px;
    font-weight: bold;
    color: #555;
} */

/* --------------------------------------- */

.plus-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    right: 5%;
    bottom: 12%;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    padding: 16px;
    border-radius: 50%;
    color: #fff;
}

.input-area {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #666;
}

.input-area-wrapper {
    padding: 16px;
}

.input-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.info {
    font-size: 20px;
    color: #666;
}

.xmark {
    font-size: 24px;
    color: #444;
}

.payment {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.payment-text {
    width: 20%;
    text-align: center;
    font-size: 18px;
}

.payment-input {
    width: 80%;
}

.payment-input > input {
    width: 80%;
    height: 34px;
    padding: 8px 16px;
    border: 2px solid var(--main-color);
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    color: #666;
}

.payment-input > input.date {
    text-align: center;
}

.store-btn {
    text-align: right;
}

.button-area {
    text-align: right;
}



.loader,
.loader:before,
.loader:after {
    background: #000;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #000;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

/*▼▼ ここから追加する ▼▼*/
.loader-wrap {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*▲▲ ここまで追加する ▲▲*/

.loader,
.loader:before,
.loader:after {
    background: #666;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #666;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
