@charset 'utf-8';

:root {
    --main-color: rgba(43, 174, 0, 0.749);
}

/* 候補カラー */
/* #7cae6cbf */

html {
    font-family: 'ヒラギノ丸ゴ ProN',
        'Hiragino Maru Gothic ProN',
        'ヒラギノ角ゴシック',
        'Hiragino Sans',
        'ＭＳ ゴシック',
        sans-serif;
}

body {
    background-color: #f8f8f8;
}

header {
    padding: 16px 8px;
    background-color: var(--main-color);
    text-align: center;
    color: #fff;
}

/* --------------------------------------- */

.swipe-wrapper {
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.swipe-list {
    display: flex;
    align-items: center;
}

.swipe-list li {
    width: calc(100% / 3);
    padding: 16px 8px;
    text-align: center;
    font-size: 20px;
}

.swipe-list li.active {
    border-bottom: 3px solid var(--main-color);
}

/* --------------------------------------- */

.amount-wrapper {
    padding: 30px 24px 0;
}

.amount-area {
    padding: 16px;
    background-color: #fff;
    border-radius: 16px;
}

.amount-area > p {
    color: #666;
}

.amount {
    font-size: 36px;
    text-align: right;
    margin-top: 8px;
    border-bottom: 1px solid #ddd;
    color: #555;
}

/* --------------------------------------- */

.list-wrapper {
    padding: 8px 24px 30px;
}

.list-header {
    margin: 16px 0;
    color: #666;
}

.list {
    background-color: #fff;
    border-radius: 16px;
}

.list-item {
    border-top: 1px solid #ddd;
}

.list-item:first-child {
    border-top: none;
}

.list-date {
    padding: 12px 12px 0;
    color: #666;
    font-size: 14px;
}

.list-flex {
    display: flex;
}

.list-checkbox {
    padding: 12px;
}

.list-checkbox > label {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #000;
}

.list-checkbox input[type=checkbox] {
    display: none;
}

.list-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}

.list-money {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #555;
}

/* --------------------------------------- */

.plus-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    right: 5%;
    bottom: 12%;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    padding: 16px;
    border-radius: 50%;
    color: #fff;
}
